body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}
.swiper-slide-home {
  max-width: 90%;
  transition: all 0.5s;
}
.swiper-slide-home:hover {
  transform: scale(1.1);
}
.mySwiperHome {
  width: 70em;
  max-width: 95%;
  margin-inline: auto;
  margin-block: 1.5em;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 2.8em !important;
  height: 2.8em !important;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-size: 1.5em !important;
  font-weight: 700 !important;
}
